/* Root Variables*/
:root {
  --panelPad: 64px;
  --radius: 18px;
}

/* Base Structure*/
html,
body {
  height: 100%;
}

body {
  font-family: "Viga", sans-serif;
}

.page-login {
  overflow: hidden; 
}

/* Login Page Wrapper*/
.login-page {
  min-height: 100vh;
  background: #fff;
  overflow: hidden;
}

/* Login Shell*/
.login-shell {
  height: 100%;
  display: grid;
  grid-template-columns: 1.05fr 0.95fr;
}

/* Panel Gambar*/
.login-pattern {
  height: 100%;
  overflow: hidden;
}

.pattern-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Panel Form*/
.login-panel {
  height: 100%;
  min-height: 0;
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  padding: 48px 15px 15px;
}

.login-inner {
  width: 100%;
  max-width: 520px;
  max-height: 100%;
  overflow-y: auto;
  margin-top: 0px;
}

/* Logo Area*/
.login-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Calistoga", serif;
}

.login-logo img {
  width: 58px;
  height: 58px;
  object-fit: contain;
}

.brand-sub {
  font-size: 1.50rem;
  letter-spacing: .9px;
  color: var(--primary);
  line-height: 1.15;
}

.brand-sub span {
  font-family: "Calistoga", serif;
  letter-spacing: 1px;
  font-size: .72rem;
}

/* Title*/
.login-title {
  font-family: "Calistoga", serif;
  color: var(--primary);
  font-size: 1.50rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 1rem 0 1rem;
}

/* Form Label*/
.ott-label {
  color: var(--primary);
  font-weight: 900;
  margin-bottom: 8px;
}

/* Input With Right Icon*/
.ott-input {
  position: relative;
}

.ott-input .form-control {
  border: 2px solid rgba(139, 30, 30, .35);
  border-radius: 10px;
  font-weight: 800;
}

.ott-input .form-control:focus {
  border-color: rgba(139, 30, 30, .55);
  box-shadow: 0 0 0 .12rem rgba(139, 30, 30, .12);
}

/* Input Icon*/
.ott-input .icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary);
  font-size: 18px;
  pointer-events: none;
}

/* Toggle Password Button*/
.ott-input .icon-btn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: 0;
  background: transparent;
  color: var(--primary);
  border-radius: 10px;
}

/* Error Text*/
.err-text {
  display: none;
  color: #b3261e;
  font-weight: 800;
  margin-top: 6px;
}

/* Remember Me*/
.remember {
  font-weight: 900;
  color: #222;
  user-select: none;
}

.remember input {
  width: 18px;
  height: 18px;
  accent-color: var(--primary);
}

/* Action Buttons*/
.btn-login {
  min-width: 120px;
}


/* Mobile Responsive */
@media (max-width: 575px) {
  .login-shell {
    grid-template-columns: 1fr;
  }

  .login-pattern {
    display: none;
  }

  .login-panel {
    padding: 28px 16px;
  }

  .login-inner {
    max-width: 520px;
    overflow-y: visible;
  }

  .login-title {
    font-size: 1.8rem;
  }
}
